{# src/FL/FlfagBundle/Resources/views/FLFAG/transit.html.twig #}

{% extends '::layout.html.twig' %}

{% block body %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Récapitulatif avant envoie du mail à : mail</h3>
  </div>
  <div class="panel-body">
    <form class="" action="{{ path('transit_staff') }}" method="post">
      <input type="submit" value="Envoyer">
    </form>
  </div>
</div>
{% endblock %}


{# Redirection vers index.php?id=patientId ou index.php?id=patientId&ampstaffId=staffId si retour au doc #}
