{# src/FL/FlfagBundle/Resources/views/FLFAG/transit.html.twig #}

{% extends 'FLFlfagBundle::layout.html.twig' %}

{% block body_doc %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      Voulez vous retourner ces données à : mail
    </div>
    <div class="panel-body">
      {# Veut-il envoyer ? oui (on envoi mail et retour index) : non (on détruit les données et on recommence) #}

      lecture des données enregistrées ainsi que mise en page du mail qui sera envoyé
    </div>
  </div>

  <div class="form-group">
    <form action="index.html" method="post">
      <input type="submit" class="btn btn-success right" value="Envoyer">
    </form>
  </div>
{% endblock %}

{% block body_staff %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      Voulez vous retourner ces données à : mail
    </div>
    <div class="panel-body">
      {# Veut-il envoyer ? oui (on envoi mail et retour index) : non (on détruit les données et on recommence) #}

      lecture des données enregistrées ainsi que mise en page du mail qui sera envoyé
    </div>
  </div>
  <div class="form-group">
    <form action="index.html" method="post">
      <input type="submit" class="btn btn-success right" value="Envoyer">
    </form>
  </div>
{% endblock %}

{# Redirection vers index.php?id=patientId ou index.php?id=patientId&ampstaffId=staffId si retour au doc #}
